<!DOCTYPE html>
<html>
<head>

<style>

body {
  background-color: #232323;
}

h1 {
	
	color: white;
	text-align: center;
}

td {
	color: white;
	align: center;
}

section {
	color: white;
}

img {
	position: absolute;
	top: 188px;
	left: 1500px;
	width: 150px;
	height: 200px;
	outline: 10px double white;
}




</style>



	
</head>
<body>
</body>
</html>>
