<!DOCTYPE html>
<html>
<head>

<style>
	
	h1 {
	
		color: white;
		text-align: center;
		}
	
		

	strong {
		color: white;
	}

	p {
		color: #e6e6e6;
	}

	td {
	color: green;
	align: center;
}

</style>


</head>

</html>