<!DOCTYPE html>
<html>
<head>

<style> 

body {

	color: blue;
}


section {
	font-family: arial;
}

.section-two {

	color: #0CE80C;
}






index.html

main.css

head tag 

link tag href main.css - gonna go in index.html




</style>

</head>

<body>

</body>

</html>